{% extends 'base.html' %}
{% load static %}
{% block content %}


<hr>
<h1 class="fw-bold">Hello I am Dominic</h1>
<div>

    <div class="d-flex gap-3">
        <img src="{% static 'images\birds .jpg' %}"
            class="object-fit-cover w-full my-3 rounded-4 d-flex justify-content-center" height="400" width="400px"
            alt="">
        <img src="{% static 'images\pexels-sam-mccool-1923523643-28771883.jpg' %}"
            class="object-fit-cover w-full my-3 rounded-4 d-flex justify-content-center" height="400" width="400px"
            alt="">
    </div>
    <h1 class="display-5 mt-4 fw-bold">Welcome to Project <span class=" pe-2 fw-bold">WILD</span></h1>
    <p class="lead fw-light fs-4 mt-2 ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem cum
        blanditiis quasi perferendis magni dolore culpa
        soluta nulla, nam molestias, ut aperiam voluptas ratione sunt. Voluptatum alias odit labore id!</p>
    <div class="btn-group">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Start up
        </button>


    </div>

    <hr>

    {% endblock %}