{% load static %}
<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
        <img src="{% static 'svgs\elephant.svg' %}" width="30px" alt="">
        <a class="navbar-brand fw-bold ps-2" href="#">WILD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'animal-home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'animal-about' %}">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Plants
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Species</a></li>
                        <li><a class="dropdown-item" href="#">Locations</a></li>
                        <li><a class="dropdown-item" href="#">Medicinal plants</a></li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>